@media (375px <=width <=768px) {
    .contenedorLogo{
        width: 25vmin;
        height: 25vmin;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .contenedorLogo>img {
        opacity: 0;
    }
    .articleHero {
        grid-column: 3/11;
        grid-row: 2/3;
        text-align: center;
        position: relative;
        padding-right: 20px;
    }
    

}